<%= render 'layouts/navigation' %>
<div class="container">
<div class="col-md-12 test-window">

    <div class="form-group row">
        <label class="col-sm-2 col-md-offset-3"><h2>Sign up</h2></label>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group row">
      <div class="col-md-offset-3 col-sm-6">
        <%= devise_error_messages! %>
      </div>
    </div>
      

      <%= f.hidden_field :role, :value => 'user' %>


    <div class="form-group row">
      <label class="col-sm-3 col-md-offset-3">Email</label>
      <div class="col-sm-3">
        <%= f.email_field :email, autofocus: true, :style => 'width: 100%', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-md-offset-3">Password</label>
      <div class="col-sm-3">

      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :style => 'width: 100%', :class => 'form-control' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-3">
              <%= f.label :password_confirmation %>
          </label>

          <div class="col-sm-3">
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
          </div>
        </div>
    <% end -%>

    <div class="form-group row">
      <label class="col-sm-3 col-md-offset-3">Nickname</label>
      <div class="col-sm-3">
        <%= f.text_field :nickname, :style => 'width: 100%', :class => 'form-control', :required => true %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-md-offset-3">Name</label>
      <div class="col-sm-3">
        <%= f.text_field :name, :style => 'width: 100%', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-md-offset-3">Surname</label>
      <div class="col-sm-3">
        <%= f.text_field :surname, :style => 'width: 100%', :class => 'form-control' %>
      </div>
    </div>



    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-4 ">
        <%= f.submit "Sign up", :class => 'btn btn-success', :style => 'width:100%' %>
      </div>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

 

</div>



</div>