
<%- if controller_name != 'sessions' %>
    <div class="form-group row">
      <div class="col-md-offset-3 col-sm-2">
       		<%= link_to "Log in", new_session_path(resource_name), :class => 'btn btn-primary', :style => 'width:100%' %><br />
      </div>
    </div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
      <div class="form-group row">
        <div class="col-md-offset-3 col-sm-3">
            <%= link_to "Log in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'btn btn-primary', :style => 'width:100%' %><br />
        </div>
      </div>
  <% end -%>
<% end -%>


    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <div>
              <%= link_to "Sign up", new_registration_path(resource_name), :class => 'btn btn-primary' %><br />
          </div>
    <% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <div class="form-group row">
      <div class="col-md-offset-5 col-sm-2">
       		<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => 'btn btn-default', :style => 'width:100%' %><br />
      </div>
    </div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	<div class="form-group row">
      <div class="col-md-offset-5 col-sm-2">
       		<%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), :class => 'btn btn-default', :style => 'width:100%' %><br />
      </div>
    </div>
<% end -%>

