<%= render 'layouts/navigation' %>
<div class="container">
<div class="col-md-3 col-md-offset-4">
<h3><%= link_to "Watch fights without registration", all_fights_path, :class => "btn btn-primary" %></h3>
</div>
<div class="col-md-9">
		<%= image_tag('af.png', :class => 'thumbnail', :size => "1000x600") %>
		<p>Create your own Army formations, Unit stats, Units count and Army placement</p>

</div><br><br>

</div>