<%= render 'layouts/navigation' %>
<div class="container">
<div class="col-md-12 test-window">

    <div class="form-group row">
        <label class="col-md-offset-3"><h2>Log in</h2></label>
    </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="form-group row">
      <label class="col-sm-1 col-md-offset-3">Email</label>
      <div class="col-sm-3">
        <%= f.email_field :email, autofocus: true, :style => 'width: 100%', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-1 col-md-offset-3">Password</label>
      <div class="col-sm-3">
        <%= f.password_field :password, autocomplete: "off", :style => 'width: 100%', :class => 'form-control' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="form-group row">
          <label class="col-sm-2 col-md-offset-4">
              <%= f.label :remember_me, :style => 'float:right' %>
          </label>

          <div class="col-sm-1">
            <%= f.check_box :remember_me, :class => 'form-control', :style => 'float:right' %>
          </div>
        </div>
    <% end -%>

    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-4 ">
        <%= f.submit "Log in", :class => 'btn btn-success', :style => 'width:100%' %>
      </div>
    </div>

  <% end %>

    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-4 ">
        <%= render "devise/shared/links" %>
      </div>
    </div>


</div>



</div>