<%= render 'layouts/navigation' %>
<%= render 'fights/images' %>
<%= render 'fights/canvas_elements' %>
<%= render 'fights/units_stats' %>
<%= render 'fights/units_targets' %>
<%= render 'fights/units_formations' %>

<div class="col-md-offset-7 col-md-5">
  <div class="form-group row">
      <div class="col-md-5 columns">
          <input type="text" data-ng-model='fight_name' id="fight_name" placeholder="Input fight name" data-ng-change = 'saved=false' class='form-control'>
      </div>
      <div class="col-md-3 columns">
          <button class='btn btn-primary' data-ng-show=!saved data-ng-click="save_fight()">Save</button>
          <button class='btn btn-success' data-ng-show=saved data-ng-click="save_fight()">Saved</button>
      </div>
      <div class="col-md-4 columns">
          <button class='btn btn-success' data-ng-click="army_view = 0" data-ng-show="edit_army_view(1)">Hide Army stats</button>
          <button class='btn btn-success' data-ng-click="army_view = 0" data-ng-show="edit_army_view(2)">Hide Army stats</button>
          <button class='btn btn-success' data-ng-click="army_view = 0" data-ng-show="edit_army_view(3)">Hide Army stats</button>
          <button class='btn btn-success' data-ng-click="army_view = 1" data-ng-show="edit_army_view(0)">Show Army stats</button>
      </div>
  </div>

  <div class="form-group row">
      <div class="col-md-5 columns">
          <label class="form-control-label"> Attackers count: </label>
      </div>
      <div class="col-md-2 columns">
          <div data-ng-bind="countAlly"></div>
      </div>
      <div class="col-md-5 columns">
          <button class='btn btn-primary' data-ng-click="add_army('ally')" style='width:170px;'>Add attacker army</button>
      </div>
  </div>

  <div class="form-group row">
      <div class="col-md-5 columns">
          <label class="form-control-label"> Defenders count: </label>
      </div>
      <div class="col-md-2 columns">
          <div data-ng-bind="countEnemy"></div>
      </div>
      <div class="col-md-5 columns">
          <button class='btn btn-primary' data-ng-click="add_army('enemy')" style='width:170px;'>Add defender army</button>
      </div>
  </div>

  <div class="form-group row">
      <div class="col-md-4 columns">
          <label class="form-control-label"> Army type </label>
      </div>
      <div class="col-md-2 columns">
          <label class="form-control-label"> Rows </label>
      </div>
      <div class="col-md-2 columns">
          <label class="form-control-label"> Columns </label>
      </div>
      <div class="col-md-4 columns">
      </div>
  </div>

  <div data-ng-repeat="(key, value) in formations.ally">
    <div class="form-group row">
        <div class="col-md-4 columns">
            <select data-ng-model="value.unit" data-ng-change="change_stats(key, 'ally')" class="form-control" style="background-color:#ec5840; color:white;">
                <option value="spear">Spearman</option>
                <option value="sword">Swordsman</option>
                <option value="axe">Axemen</option>
                <option value="bow">Bowman</option>
                <option value="light">Light cavalry</option>
                <option value="mounted">Mounted archer</option>
                <option value="heavy">Heavy cavalry</option>
            </select>
        </div>
        <div class="col-md-2 columns">
            <input type="text" data-ng-model="value.row" data-ng-change="change_stats(key, 'ally')" class="form-control">
        </div>
        <div class="col-md-2 columns">
            <input type="text" data-ng-model="value.column" data-ng-change="change_stats(key, 'ally')" class="form-control">
        </div>
        <div class="col-md-4 columns">
            <button data-ng-class="find_class(key, 'ally')" data-ng-click="change_unit_stats('ally', key)">Select</button>
            <button class='btn btn-danger' data-ng-click="remove(key, 'ally')">X</button>
        </div>
    </div>
  </div>


  <div data-ng-repeat="(key, value) in formations.enemy">
    <div class="form-group row">
        <div class="col-md-4 columns">
            <select data-ng-model="value.unit" data-ng-change="change_stats(key, 'enemy')" class="form-control" style="background-color:#2199e8; color:white;">
                <option value="spear">Spearman</option>
                <option value="sword">Swordsman</option>
                <option value="axe">Axemen</option>
                <option value="bow">Bowman</option>
                <option value="light">Light cavalry</option>
                <option value="mounted">Mounted archer</option>
                <option value="heavy">Heavy cavalry</option>
            </select>
        </div>
        <div class="col-md-2 columns">
            <input type="text" data-ng-model="value.row" data-ng-change="change_stats(key, 'enemy')" class="form-control">
        </div>
        <div class="col-md-2 columns">
            <input type="text" data-ng-model="value.column" data-ng-change="change_stats(key, 'enemy')" class="form-control">
        </div>
        <div class="col-md-4 columns">
            <button data-ng-class="find_class(key, 'enemy')" data-ng-click="change_unit_stats('enemy', key)">Select</button>
            <button class='btn btn-danger' data-ng-click="remove(key, 'enemy')">X</button>
        </div>
    </div>
  </div>
</div>




