<div style="position:absolute; margin-left: 470px; margin-top: 10px; width: 500px; padding:10px; background-color: rgba(150, 150, 40, 0.9);" data-ng-show = "edit_army_view(1)" >
    
    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Army Units: </label>
            <strong><div data-ng-bind="unit_for_stats_change.stats.unit" style='display:inline; float:right;'></div></strong>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Army Type: </label>
            <strong><div data-ng-bind="unit_for_stats_change.stats.type" style='display:inline; float:right;'></div></strong>
        </div>
    </div><br>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> X position: </label>
            <input type="text" data-ng-model="unit_for_stats_change.x" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Y position: </label>
            <input type="text" data-ng-model="unit_for_stats_change.y" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label" style='float:right; color:yellow;'><strong> Range from: </strong></label>
       
        </div>
        <div class="col-md-6 columns" >
            <label class="form-control-label" style='float:right; color:yellow;'><strong> Range To: </strong></label>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Health: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.hp_from" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Health: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.hp_to" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Attack: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.dmg_from" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Attack: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.dmg_to" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Def horse: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_hors_from" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Def horse: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_hors_to" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Def archer: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_arch_from" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Def archer: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_arch_to" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Def infantry: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_inf_from" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
        <div class="col-md-6 columns">
            <label class="form-control-label"> Def infantry: </label>
            <input type="text" data-ng-model="unit_for_stats_change.stats.def_inf_to" data-ng-change="change_stats2()" class="form-control" style='display:inline; width: 40%; float:right;'>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <button class="btn btn-success" data-ng-click='center_army()'>Center this army</button>
        </div>
    </div><br>

</div>