<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fight.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fight.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @fight.user_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @fight.password %>
</p>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
