<div class="container">
<nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">ArmyFight</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><%= link_to('Home', root_path) %></li>
	      <li><%= link_to('About', tutorial_path) %></li>
	      <li><%= link_to('Watch fights', all_fights_path) %></li>
	      <% if user_signed_in? %>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User page <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	            <li><%= link_to('Your fights', fights_path) %></li>
	            <li><%= link_to 'New fight', new_fight_path %></li>
	        </ul>
	      </li>
	      <% end %>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	        <% if user_signed_in? %>
	        	<li class="active"><%= link_to "Sign Out #{current_user.nickname}", destroy_user_session_path, :method => :delete %></li>
	        <% else %>
	        	<li class="active"><%= link_to "Log in", new_session_path(:user) %></li>
	        	<li><%= link_to "Sign up", new_registration_path(:user) %></li>
	        <% end %>
	    </ul>
	  </div>
	</div>
</nav>

</div>